<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <script src="js/lib/createjs-2013.12.12.min.js"></script>
    <script src="js/lib/underscore.js"></script>
     <script src="js/lib/jquery-1.11.1.min.js"></script>
    <script src="js/lib/jquery-ui.js"></script>
    <script src="js/lib/jquery.ui.touch-punch.min.js"></script>
    <script src="js/lib/soundjs-0.5.2.min.js"></script>
    <script src="js/lib/lodash.min.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/levenshtein.js"></script>
    <script src="js/lib/wordCompare.js"></script>
    <script src="js/lib/jquery.mCustomScrollbar.js"></script>
    <script src="js/lib/lean-slider.js"></script>
    <script src="js/data/Manifest.js"></script>
    <script src="js/model/Spawning.js"></script>
    <script src="js/model/GameState.js"></script>
    <script src="js/model/LoaderClass.js"></script>
    <script src="js/data/PowerupsData.js"></script>
    <script src="js/model/LocalStorage.js"></script>
    <script src="js/model/MyBag.js"></script>
    <script src="js/model/Preloader.js"></script>
    <script src="js/model/SmbLoadQueue.js"></script>
    <script src="js/model/Sound.js"></script>
    <script src="js/data/PlayerData.js"></script>
    <script src="js/data/shopData.js"></script>
    <script src="js/data/EnemyData.js"></script>
    <script src="js/data/MapData.js"></script>
    <script src="js/data/LevelData.js"></script>
    <script src="js/data/InstructionsData.js"></script>
    <script src="js/data/CaptchaJson.js"></script>
    <script src="js/model/Level.js"></script>
    <script src="js/data/LoaderData.js"></script>
    <script src="js/model/MyPowerup.js"></script>
    <script src="js/model/SpriteSheet.js"></script>
    <script src="js/model/Lane.js"></script>
    <script src="js/model/Wave.js"></script>
    <script src="js/model/AdBoard.js"></script>
    <script src="js/model/CommentaryBox.js"></script>
    <script src="js/model/Chair.js"></script>
    <script src="js/model/Blocks.js"></script>
    <script src="js/model/Waves.js"></script>
    <script src="js/model/MyPowerup.js"></script>
    <script src="js/model/CaptchaProcessor.js"></script>
    <script src="js/controller/MenuController.js"></script>
    <script src="js/controller/StageController.js"></script>
    <script src="js/controller/GameController.js"></script>
    <script src="js/controller/ShopController.js"></script>
    <script src="js/controller/GameLevelController.js"></script>
    <script src="js/controller/SoundController.js"></script>
    <script src="js/EventBus.js"></script>
    <script src="js/model/Life.js"></script>
    <script src="js/model/SpriteMan.js"></script>
    <script src="js/model/Enemy.js"></script>
    <script src="js/model/Powerups.js"></script>
    <script src="js/model/Gem.js"></script>
    <script src="js/model/Product.js"></script>
    <script src="js/model/Score.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
    <script>
        function init() {

//            var popupCanvas = document.getElementById("loaderCanvas");
//            popupCanvas.width = window.innerWidth;
//            popupCanvas.height = window.innerHeight;

            gc = new GameController();
            gc.init();
        }

    </script>
</head>
<body onload="init()" style="background:#ccc;text-align: center">
<!--<script>
window.fbAsyncInit = function() {
// init the FB JS SDK
FB.init({
appId      : '356239614580013', // App ID from the App Dashboard
//channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File for x-domain communication
status     : true, // check the login status upon init?
cookie     : true, // set sessions cookies to allow your server to access the session?
xfbml      : true  // parse XFBML tags on this page?
});

// Additional initialization code such as adding Event Listeners goes here
FB.ui(
{
    method: 'feed',
    name: 'Smorball', // name of the product or content you want to share
    link: 'http://localhost:8080/smorball-github/Smorball/index.html',//'https://developers.facebook.com/docs/reference/dialogs/', // link back to the product or content you are sharing
    picture: '',//'http://media1.santabanta.com/full1/Cricket/Rahul%20Dravid/rah20a.jpg', // path to an image you would like to share with this content
    caption: 'http://smorball.com', // caption
    description: 'I just defeated Chennai Super Kings. They scored 3422 against me!' // description of your product or content
    },
    function(response) {
        if (response && response.post_id) {
            alert('Post was published.');
        } else {
            alert('Post was not published.');
        }
    }
);

};

// Load the SDK Asynchronously
function fb_callout() {
    (function(d){
        console.log(d);
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
}
</script>-->

<canvas id="myCanvas"></canvas>

<div id="loaderDiv" style="position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; display: none ">
    <div id="loadOuterWrapper" class="blueBg">
        <div class="centerContainer starBg">
            <canvas id="loaderCanvas"></canvas>
        </div>
    </div>


</div>

<div id="dialog-shop" style="display: none;">
    <canvas id="popupCanvas"></canvas>
</div>

<div id="dialog-utility" style="position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; display: none ">
    <canvas id="utilityCanvas"></canvas>
</div>

<div id="menu-container" class="menu-popup">
    <img class="sb_logo" src="shapes/SB_logo.png">
    <div class="menu-button-container">
        <div class="menu-buttons">
           <!--  <button onClick="EventBus.dispatch(&quot;exitMenu&quot;);EventBus.dispatch(&quot;resetAll&quot;)">New Game
            </button>
            <button id="resumeButton" onClick="EventBus.dispatch(&quot;resumeGame&quot;)">Resume Game</button>
            <button onClick="EventBus.dispatch(&quot;exitMenu&quot;);EventBus.dispatch(&quot;showMap&quot;)">Map
            </button> -->
            <button onmouseover="EventBus.dispatch('playSound','mouseover');" onClick="EventBus.dispatch(&quot;play&quot;);">Play</button>
            <button onmouseover="EventBus.dispatch('playSound','mouseover');" onClick="EventBus.dispatch(&quot;showOptions&quot;);">Options</button>
            <button onmouseover="EventBus.dispatch('playSound','mouseover');" onClick="EventBus.dispatch(&quot;showHelp&quot;);">Help</button>
           
            <!-- <button onClick="EventBus.dispatch(&quot;exitMenu&quot;)">Exit</button> -->
        </div>
    </div>
</div>

<div id="menu-confirm-popup" class="shadedContainer menu-popup">
   <div class="centerScreenContainer">
        <div id="game-popup" class="innerContainer">
            <button  onmouseover="EventBus.dispatch('playSound','mouseover');" onClick="EventBus.dispatch(&quot;hideAll&quot;); EventBus.dispatch(&quot;showMenu&quot;); $('#confirm-popup, #menu-confirm-popup').show();">new game</button>
            <button  onmouseover="EventBus.dispatch('playSound','mouseover');" onClick="EventBus.dispatch(&quot;showMap&quot;)">Continue</button>
        </div>
        <div id="confirm-popup" class="innerContainer">
            <p><b>ARE YOU SURE YOU WANT TO ERASE YOUR CURRENT GAME</b></p>
            <button onmouseover="EventBus.dispatch('playSound','mouseover');" onClick="EventBus.dispatch(&quot;hideAll&quot;); EventBus.dispatch(&quot;exitMenu&quot;);EventBus.dispatch(&quot;resetAll&quot;)">YES</button>
            <button onmouseover="EventBus.dispatch('playSound','mouseover');" onClick="EventBus.dispatch(&quot;hideAll&quot;); EventBus.dispatch(&quot;showMenu&quot;);">NO</button>
        </div>
    </div>
</div>
<!--<div id="dialog-level" style="display:none; text-align:center">-->
<!--<p>-->
<!--<input id="levelButton" type="button" onclick="EventBus.dispatch(&quot;exitMenu&quot;);EventBus.dispatch(&quot;hideMap&quot;);EventBus.dispatch(&quot;newGame&quot;)"></input>-->
<!--</p>-->
<!--</div>-->

<div id="canvasHolder">
    <input id="passButton" type="button" value="Pass" onmouseover="EventBus.dispatch('playSound','mouseover');" onclick="EventBus.dispatch(&quot;passText&quot;)"></input>
    <input id="inputText" type="text" placeholder="Type Phrase"
           onkeydown="if(event.keyCode == 13){EventBus.dispatch(&quot;compareCaptcha&quot;)}"></input>
    <input id="submitButton" type="button" value="Submit"
           onmouseover="EventBus.dispatch('playSound','mouseover');" onclick="EventBus.dispatch(&quot;compareCaptcha&quot;)"></input>
</div>

<div id="timeout-container">
    <div class="timeout-button-container">
        <div class="timeout-buttons">
            <div id="timeout-close">
                <button id="timeout-btn-close" onmouseover="EventBus.dispatch('playSound','mouseover');" onClick="EventBus.dispatch('hideTimeOut')">X</button>
            </div>
             <p id="timout-text"><b>TIMEOUT</b></p>
            <div class="timeout-content">
                <p class="slider-text"><b>MUSIC</b></p>

                <div class="music-slider slider"></div>
                <p class="slider-text"><b>SOUND EFFECTS</b></p>

                <div class="effects-slider slider"></div>
                <button onmouseover="EventBus.dispatch('playSound','mouseover');" onclick="EventBus.dispatch(&quot;showHelp&quot;);" >HELP</button><br/>
                <button onmouseover="EventBus.dispatch('playSound','mouseover');" onClick="EventBus.dispatch('quitTimeout');">QUIT</button>
            </div>
        </div>
    </div>
</div>

<div id="shopOuterWrapper" class="blueBg">
    <div class="centerContainer starBg">
        <div id="shop" class="mainWndw">
            <div class="titleBar">
                <span class="clubhouse"><b>Clubhouse</b></span>
                <span class="wallet">$2600</span>
            </div>
            <div class="shopInnerBg">
                <div class="scrollContainer">
                    <div class="itemDiv">
                        <script type="text/template" id="shopComponents">
                            <% _.each(items, function(item) { %>
                            <div class="innerItem">
                                <table>
                                    <tr>
                                        <td width="25%">
                                <img src=<%=item.src%> class="image"/>
                                        </td>
                                        <td class="innerDiv" width="63%" id=<%=item.id%>>
                                    <div class="title" pType =<%=item.type%> ><%=item.name%></div>
                                    <div class="caption"><%=item.description%></div>
                                    <!--<div class="rate">&dollar;<%=item.price%></div>-->
                                    <br>
                            <button class="upgrade" type="button" onmouseover="EventBus.dispatch('playSound','mouseover');" style="background-color:#a7cb00;" >$<%=item.price%>
                                    </button>
                                        </td>
                                    </tr>
                                </table>
                                <div class="clear"></div>
                            </div>
                            <% }); %>

                        </script>
                    </div>
                </div>
            </div>
            <div class="shopBackBtn">
                <input class="backButton" type="button" onmouseover="EventBus.dispatch('playSound','mouseover');" onclick="EventBus.dispatch(&quot;showMap&quot;)"/>
            </div>
        </div>
    </div>
</div>

<div id="resultWrapper" class="shadedContainer">
    <div class="centerScreenContainer">
        <div class="innerContainer">
            <div>
                <div id="lostContainer" class="resultContainer">
                    <div class="title"><b>LOST</b></div>
                    <div class="details">
                        <div>
                            <p><b>MONEY MADE:</b></p><p class="moneyMade"><b>999,999</b></p>
                        </div> 
                        <div class="clear"></div>
                    </div>
                    <button onmouseover="EventBus.dispatch('playSound','mouseover');" onclick="EventBus.dispatch('showMap')"><b>LEVEL SELECT</b></button>
                    <button onmouseover="EventBus.dispatch('playSound','mouseover');" onclick="EventBus.dispatch(&quot;hideAll&quot;);EventBus.dispatch('newGame')"><b>TRY AGAIN</b></button>
                </div>
                <div id="survivalEndContainer" class="resultContainer">
                     <div class="title"><b>SURVIVAL END</b></div>
                    <div class="details">
                         <div>
                             <div class="timeDetails"><p>TIME SURVIVED:</p><p class="time"><span id="minutes">686</span>:<span id="seconds">18</span></p> </div>
                             <div class="timeDetails"><p>HIGH SCORE:</p><p class="time"><span id="highMinutes">88</span>:<span id="highSeconds">878</span></p> </div>
                        </div> 
                        <div class="clear"></div>
                    </div>
                     <button onmouseover="EventBus.dispatch('playSound','mouseover');" onclick="EventBus.dispatch('showMap')"><b>LEVEL SELECT</b></button>
                     <button onmouseover="EventBus.dispatch('playSound','mouseover');" onclick="EventBus.dispatch(&quot;hideAll&quot;);EventBus.dispatch('newGame')"><b>CONTINUE</b></button>
                </div> 
                <div id="victoryContainer" class="resultContainer">
                    <div class="title"><b>VICTORY</b></div>
                    <div class="details">
                        <div>
                            <p><b>MONEY MADE:</b></p><p class="moneyMade"><b>999,999</b></p>
                        </div> 
                        <div class="clear"></div>
                    </div>
                    <button onmouseover="EventBus.dispatch('playSound','mouseover');" onclick="EventBus.dispatch('showMap')"><b>LEVEL SELECT</b></button>
                    <button onmouseover="EventBus.dispatch('playSound','mouseover');" onclick="EventBus.dispatch('stopCheering');EventBus.dispatch('showMap')"><b>CONTINUE</b></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="helpScreen" class="shadedContainer blueBg">
     <div class="centerScreenContainer starBg">
        <div>
             <div class="title">INSTRUCTIONS</div>
            <div class="helpScreenContent innerContainer">
                <div class="sliderWrapper innerItem">
                    <div id="slider">
                    </div>
                    <div id="sliderDirectionNav"></div>
                </div>
            </div>
            <div id="slider-control-nav"></div>
         <div class="helpBackBtn">
             <input class="backButton helpBackButton" type="button" onmouseover="EventBus.dispatch('playSound','mouseover');" onClick="EventBus.dispatch(&quot;hideHelp&quot;);"/>
         </div>
    </div>
</div>
</div>
<script type="text/template" id="sliderComponents">
                            <% _.each(items, function(item, position) { %>
                               <div class="slider<%= position+1 %>">  
                                <div class="imageWrapper">
                                <img src="shapes/<%= item.image %>.png">
                                </div>
                                <p><%=item.description%></p>
                                </div>
                           <% }); %>
</script>

<div id="mainSplashScreen" class="splashScreen">
    <div class="splashScreenContainer">
        <img id="MBGLogo" class="splashLogo" src="shapes/MBG-Logo.jpg"/>
        <img id="BHLlogo" class="splashLogo" src="shapes/BHL_Logo.png"/>
        <img id="tiltfactorLogo" class="splashLogo" src="shapes/Tiltfacor_on_White.png"/>
    </div>
</div>

<div id="optionsScreen">
    <div class="optionScreenContainer">
        <div id="slideContainer">
             <button class="optionsBackButton" onmouseover="EventBus.dispatch('playSound','mouseover');" onclick="EventBus.dispatch('hideOptions');">Back</button>
                <p class="slider-text"><b>Music</b></p>
                <div class="music-slider slider"></div>
                <p class="slider-text"><b>Sounds</b></p>
                <div class="effects-slider slider"></div>
                 <p><b>Difficulty</b></p>
                <select class="selectDifficulty" onchange="EventBus.dispatch('setDifficulty',this.value)">
                    <option value="veryeasy" >very easy</option>
                    <option value="easy" >easy</option>
                    <option value="medium">medium</option>
                    <option value="hard">Hard</option>
                    <option value="veryhard">Very Hard</option>
                </select>
        </div>
    </div>
</div>

</body>
</html>