<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <script src="js/lib/createjs-2013.12.12.min.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/jquery-1.11.1.min.js"></script>
    <script src="js/lib/jquery-ui.js"></script>
    <script src="js/lib/jquery.ui.touch-punch.min.js"></script>
    <script src="js/lib/soundjs-0.5.2.min.js"></script>
    <script src="js/lib/lodash.min.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/levenshtein.js"></script>
    <script src="js/lib/wordCompare.js"></script>
    <script src="js/lib/jquery.slimscroll.js"></script>
    <script src="js/data/Manifest.js"></script>
    <script src="js/model/Spawning.js"></script>
    <script src="js/model/GameState.js"></script>
    <script src="js/model/LoaderClass.js"></script>
    <script src="js/data/PowerupsData.js"></script>
    <script src="js/model/LocalStorage.js"></script>
    <script src="js/model/MyBag.js"></script>
    <script src="js/model/Preloader.js"></script>
    <script src="js/model/SmbLoadQueue.js"></script>
    <script src="js/model/Sound.js"></script>
    <script src="js/data/PlayerData.js"></script>
    <script src="js/data/shopData.js"></script>
    <script src="js/data/EnemyData.js"></script>
    <script src="js/data/MapData.js"></script>
    <script src="js/data/LevelData.js"></script>
    <script src="js/data/CaptchaJson.js"></script>
    <script src="js/model/Level.js"></script>
    <script src="js/data/LoaderData.js"></script>
    <script src="js/model/MyPowerup.js"></script>
    <script src="js/model/SpriteSheet.js"></script>
    <script src="js/model/Lane.js"></script>
    <script src="js/model/Wave.js"></script>
    <script src="js/model/AdBoard.js"></script>
    <script src="js/model/CommentaryBox.js"></script>
    <script src="js/model/Chair.js"></script>
    <script src="js/model/Blocks.js"></script>
    <script src="js/model/Waves.js"></script>
    <script src="js/model/MyPowerup.js"></script>
    <script src="js/model/CaptchaProcessor.js"></script>
    <script src="js/controller/MenuController.js"></script>
    <script src="js/controller/StageController.js"></script>
    <script src="js/controller/GameController.js"></script>
    <script src="js/controller/ShopController.js"></script>
    <script src="js/controller/GameLevelController.js"></script>
    <script src="js/controller/SoundController.js"></script>
    <script src="js/EventBus.js"></script>
    <script src="js/model/Life.js"></script>
    <script src="js/model/SpriteMan.js"></script>
    <script src="js/model/Enemy.js"></script>
    <script src="js/model/Powerups.js"></script>
    <script src="js/model/Gem.js"></script>
    <script src="js/model/Product.js"></script>
    <script src="js/model/Score.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/game.css">
    <script>
        function init() {

//            var popupCanvas = document.getElementById("loaderCanvas");
//            popupCanvas.width = window.innerWidth;
//            popupCanvas.height = window.innerHeight;

            gc = new GameController();
            gc.init();
        }

    </script>
</head>
<body onload="init()" style="background:#ccc;text-align: center">


<canvas id="myCanvas"></canvas>

<div id="loaderDiv" style="position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; display: none ">
    <canvas id="loaderCanvas"></canvas>
</div>

<div id="dialog-shop" style="display: none;">
    <canvas id="popupCanvas"></canvas>
</div>

<div id="dialog-utility" style="position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; display: none ">
    <canvas id="utilityCanvas"></canvas>
</div>

<div id="menu-container" class="mainWrapper">
    <div class="menu-button-container">
        <div class="menu-buttons">
            <button onClick="EventBus.dispatch(&quot;exitMenu&quot;);EventBus.dispatch(&quot;resetAll&quot;)">New Game
            </button>
            <button id="resumeButton" onClick="EventBus.dispatch(&quot;resumeGame&quot;)">Resume Game</button>
            <button onClick="EventBus.dispatch(&quot;exitMenu&quot;);EventBus.dispatch(&quot;showMap&quot;)">Map
            </button>
            <button onClick="EventBus.dispatch(&quot;showHelp&quot;);">Help</button>
            <button onClick="EventBus.dispatch(&quot;showOptions&quot;);">Options</button>
            <button onClick="EventBus.dispatch(&quot;exitMenu&quot;)">Exit</button>
        </div>
    </div>
</div>

<!--<div id="dialog-level" style="display:none; text-align:center">-->
<!--<p>-->
<!--<input id="levelButton" type="button" onclick="EventBus.dispatch(&quot;exitMenu&quot;);EventBus.dispatch(&quot;hideMap&quot;);EventBus.dispatch(&quot;newGame&quot;)"></input>-->
<!--</p>-->
<!--</div>-->

<div id="canvasHolder">
    <input id="passButton" type="button" value="Pass" onclick="EventBus.dispatch(&quot;passText&quot;)"></input>
    <input id="inputText" type="text" placeholder="Enter captcha"
           onkeydown="if(event.keyCode == 13){EventBus.dispatch(&quot;compareCaptcha&quot;)}"></input>
    <input id="submitButton" type="button" value="Submit"
           onclick="EventBus.dispatch(&quot;compareCaptcha&quot;)"></input>
</div>

<div id="timeout-container" class="mainWrapper">
    <div class="timeout-button-container">
        <div class="timeout-buttons">
            <div id="timeout-close">
                <button id="timeout-btn-close" onClick="EventBus.dispatch('hideTimeOut')">X</button>
            </div>
             <p id="timout-text"><b>TIMEOUT</b></p>
            <div class="timeout-content">
                <p class="slider-text"><b>MUSIC</b></p>

                <div class="music-slider slider"></div>
                <p class="slider-text"><b>SOUND EFFECTS</b></p>

                <div class="effects-slider slider"></div>
                <button>HELP</button><br/>
                <button onClick="EventBus.dispatch('quitTimeout');">QUIT</button>
            </div>
        </div>
    </div>
</div>

<div id="shopOuterWrapper" class="mainWrapper">
    <div class="centerContainer">
        <div id="shop" class="mainWndw">
            <div class="titleBar">
                <span class="clubhouse">Clubhouse</span>
                <span class="wallet">$2600</span>
            </div>
            <div class="shopInnerBg">
                <div class="scrollContainer">
                    <div class="itemDiv">
                        <script type="text/template" id="shopComponents">


                            <% _.each(items, function(item) { %>

                            <div class="innerItem">
                                <img src=<%=item.src%> class="image"/>

                                <div class="innerDiv" id=<%=item.id%>>
                                    <div class="title" pType =<%=item.type%> ><%=item.name%></div>
                                    <div class="caption"><%=item.description%></div>
                                    <!--<div class="rate">&dollar;<%=item.price%></div>-->
                                    <br>
                            <button class="upgrade" type="button" style="background-color:#a7cb00;" >$<%=item.price%>
                                    </button>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <br>
                            <% }); %>

                        </script>
                    </div>
                </div>
            </div>
            <div class="shop-back-btn">
                <input class="backButton" type="button" onclick="EventBus.dispatch(&quot;showMap&quot;)"/>
            </div>
        </div>
    </div>
</div>

<div id="victoryWrapper" class="mainWrapper">
    <div class="victoryContainer">
            <div class="victoryTitle title">VICTORY!</div>
            <img  src="shapes/star_background.png"/>
            <div class="victoryText">You earnt<br><span id="victoryScore">$1000</span></div>
            <button id="victoryBackButton" onclick="EventBus.dispatch('showMap');$('#victoryWrapper').hide() ">CONTINUE</button>
    </div>
</div>

<div id="defeatedWrapper" class="mainWrapper">
    <div class="defeatedContainer">
            <div class="defeatedTitle title">DEFEATED!</div>
            <img id="defeatedImage" src="shapes/close_round_butto.png"/>
            <div class="clear"></div>
            <div class="defeatedText"><span id="minutes">0</span> minutes <span id="seconds">0</span>seconds</div>
            <div class="defeatedText">(Your highscore is <span id="highMinutes">0</span> minutes <span id="highSeconds">0</span> seconds)</div>
            <button id="defeatedBackButton" onclick="$('#defeatedWrapper').hide();EventBus.dispatch('showMap')">Back to map</button>
            <button id="defeatedTryButton" onclick="$('#defeatedWrapper').hide();EventBus.dispatch('newGame')">Try again</button>
    </div>
</div>

<div id="helpScreen" class="mainWrapper">
    <button class="helpBackButton" onClick="EventBus.dispatch(&quot;hideHelp&quot;);">Back</button>
    <div class="title">INSTRUCTIONS</div>
    <div class="helpScreenContent">
            Lorem ipsum dolor sit amet, ut fringilla. Sed nostrud, per purus elit leo, sem ut lobortis aliquam lacinia et, leo quisque nunc enim enim porttitor. Ut fringilla tempor in tincidunt, phasellus tortor convallis magna,
            qui integer adipiscing, amet neque consectetuer.
    </div>
</div>

<div id="bhlSplashScreen" class="mainWrapper splashScreen">
    <div class="splashScreenContainer">
       <img class="BHLlogo" src="shapes/star_background.png"/>
    </div>
</div>

<div id="tiltfactorSplashScreen" class="mainWrapper splashScreen">
    <div class="splashScreenContainer">
       <img class="BHLlogo" src="shapes/heart.png"/>
    </div>
</div>

<div id="optionsScreen" class="mainWrapper">
    <div class="optionScreenContainer">
        <div id="slideContainer">
             <button class="optionsBackButton" onclick="EventBus.dispatch('hideOptions');">Back</button>
                <p class="slider-text"><b>Music</b></p>
                <div class="music-slider"></div>
                <p class="slider-text"><b>Sounds</b></p>
                <div class="effects-slider"></div>
                 <p><b>Difficulty</b></p>
                <select class="selectDifficulty" onchange="EventBus.dispatch('setDifficulty',this.value)">
                    <option value="veryeasy" >very easy</option>
                    <option value="easy" >easy</option>
                    <option value="medium">medium</option>
                    <option value="hard">Hard</option>
                    <option value="veryhard">Very Hard</option>
                </select>
        </div>
    </div>
</div>

</body>
</html>