.no-close .ui-dialog-titlebar-close, .ui-widget-header{
    display: none;
}
.ui-button{
    width: 100%;
}
#canvasHolder{
    display: none;
    height: 30px;
}
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

canvas {
    position: relative;
}

@font-face { font-family: 'Boogaloo'; src: url('fonts/Boogaloo-Regular.otf'); }
@font-face { font-family: 'Scoreboard'; src: url('fonts/scoreboard.ttf'); }

#canvasHolder input {
    height: 80%;
    margin: 0px;
    padding: 0px;
}

/*menu screen style starts here*/
#menu-container {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("../shapes/sample.jpg");
}

.menu-button-container {
    position: relative;
    padding: 1%;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
}

.menu-buttons {
    margin: 0px auto;
    width: 50%;
    max-width: 400px;
    border-radius: 5px;
    padding: 1% 0%;
}

.menu-button-container button {
    margin: 1% 5%;
    width: 90%;
    border: 1px solid #cccccc;
    background: #f6f6f6;
    font-weight: bold;
    color: #1c94c4;
    font-size: 1.3em;
    padding: 2% 1%;
}

.menu-button-container button:hover {
    border: 1px solid #fbcb09;
    background: #fdf5ce;
    font-weight: bold;
    color: #c77405;
}
/*menu screen style ends here*/

/*timeout screen style starts here*/

#timeout-popup {
    display:none;
    text-align:center
}

.timeout-popup-box.ui-widget-content {
    background-image: url("../shapes/timeout_bg.png");
    background-color: transparent;
    background-size: 100% 100%;
    border: none;
    padding: 0 1%;
}

.timeout-popup-box #timeout-popup {
    color: white;
    font-family: 'Boogaloo';
}

.timeout-popup-box .ui-dialog-titlebar {
    background: none;
    border: none;
    padding: 0;
}

.timeout-popup-box .ui-dialog-titlebar-close,
.timeout-popup-box .ui-widget-header {
    display: block;
}

.timeout-popup-box .ui-dialog-titlebar-close {
    background: none;
    background-image: url("../shapes/slider_btn.png");
    background-size: 100% 100%;
    border: none;
    padding: 7%;
    right: -3%;
    top: 21%;
    z-index: 1;
}

.timeout-popup-box #timout-text {
    background-image: url("../shapes/timeout_text_bg.png");
    background-size: 100% 100%;
    color: white;
    padding: 5%;
    margin: 0 2%;
    font-size: 1.8em;
}

.slider-text {
    text-align: left;
    margin-left: 10%;
    font-size: .7em;
}

.timeout-popup-box .slider {
    background: #ef2929;
    height: 7px;
    border: none;
    margin: 6% 13%;
    cursor: pointer;
}

.slider .ui-slider-range { 
    background: #fff;
}

.slider .ui-slider-handle{
    background-image: url("../shapes/slider_btn.png");
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    height: 2em;
    width: 2em;
    top: -.9em;
    cursor: pointer;
}

.ui-slider-handle.ui-state-focus,
.ui-slider-handle.ui-state-hover {
    outline: none;
}

.timeout-popup-box .ui-dialog-buttonpane {
    background: none;
    border: none;
    margin-top: 0;
}

.timeout-popup-box .ui-dialog-buttonset {
    margin: 0 25%;
}

.timeout-popup-box .ui-dialog-buttonset button {
    color:#fff;
    cursor:pointer;
    padding: 0% 0% 8% 0%;
    font-family: 'Boogaloo';
    font-size: 1.5em;
    margin-top: 0;
}

.ui-dialog-buttonset button.ui-state-focus,
.ui-dialog-titlebar-close.ui-state-focus{
    outline: none;
}

.timeout-popup-box .ui-button-text-only {
    background: none;
    border: none;
    background-image: url("../shapes/timeout_btn_bg.png");
    background-size: 100% 100%;
}

@media screen and (max-width: 700px) { 
    .timeout-popup-box .ui-dialog-buttonset button {
        font-size: .8em;
    }
    .timeout-popup-box #timout-text {
        font-size: 1.1em;
        padding: 2%;
    }
    .slider-text {
        font-size: .5em;
    }
    .menu-button-container {
        font-size: .8em;
    }
}
/*timeout screen style ends here*/
.mainWndw{
    width: 560px;
    height: 430px;
    border: 1px solid #000000 !important;
    margin: 90px 0px 0px 190px;
}
.titleBar{

}
.clubhouse{
    font-size: 50px;
    margin: 20px 0px 0px 30px;
    font-weight: bold;
}
.wallet{
    font-size: 35px;
    margin-left: 160px;
    font-weight: bold;
}
.itemDiv{
    width: 360px;
    height: 270px;
    margin: 50px 0px 0px 130px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.backButton{
    width: 100px;
    height: 40px;
    margin: 0px 0px 10px 20px;
}
.innerItem{
    height:120px;
    width:300px;
    border-radius:10px;
    border:1px solid #000000;
    margin: 0px;
    font-family: Verdana;
    background: #e2e2e2;
}
.rate{
    float:right;
    margin: 0px 10px 0px 0px;
    font-size: 10px;
}
.upgrade{
    float:right;
    margin-right: 10px;
    height: 30px;
    width: 90px;
    border-radius: 8px;
}
.caption{
    width:180px;
    font-size: 10px;
    margin-bottom: 10px;
}
.title{
    margin: 10px 0px 0px 0px;
    font-size: 16px;
}
.image{
    width:80px;
    height:70px;
    margin: 10;
    float:left;
}
.innerDiv{
    width: 180px;
    float:right;
}