.no-close .ui-dialog-titlebar-close, .ui-widget-header{
    display: none;
}
.ui-button{
    width: 100%;
}
#canvasHolder{
    display: none;
    height: 55px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#canvasHolder *,
.mainWndw *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#canvasHolder input {
    background: none;
    border: none;
    outline: none;
    background-size: 100% 100%;
    height: 50px;
    font-family: 'Boogaloo';
    font-size: 1em;
    padding: 0px 10px 10px 10px;
}

#canvasHolder input[type=button] {
    background-image: url("../shapes/btn_bg.png");
    color: white;
    width: 10%;
    text-transform: uppercase;

}

#canvasHolder input[type=text] {
    background-image: url("../shapes/input_bg.png");
    color: black;
    width: 20%;
    height: 45px;
}

html, body  {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: relative;
}

@font-face { font-family: 'Boogaloo'; src: url('fonts/Boogaloo-Regular.otf'); }
@font-face { font-family: 'Scoreboard'; src: url('fonts/scoreboard.ttf'); }


/*menu screen style starts here*/
#menu-container {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("../shapes/sample.jpg");
}

.menu-button-container {
    position: relative;
    padding: 1%;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
}

.menu-buttons {
    margin: 0px auto;
    width: 50%;
    max-width: 400px;
    border-radius: 5px;
    padding: 1% 0%;
}

.menu-button-container button {
    margin: 1% 5%;
    width: 90%;
    border: 1px solid #cccccc;
    background: #f6f6f6;
    font-weight: bold;
    color: #1c94c4;
    font-size: 1.3em;
    padding: 2% 1%;
}

.menu-button-container button:hover {
    border: 1px solid #fbcb09;
    background: #fdf5ce;
    font-weight: bold;
    color: #c77405;
}
/*menu screen style ends here*/

/*timeout screen style starts here*/

#timeout-popup {
    display:none;
    text-align:center
}

.timeout-popup-box.ui-widget-content {
    background-image: url("../shapes/timeout_bg.png");
    background-color: transparent;
    background-size: 100% 100%;
    border: none;
    padding: 0 1%;
}

.timeout-popup-box #timeout-popup {
    color: white;
    font-family: 'Boogaloo';
}

.timeout-popup-box .ui-dialog-titlebar {
    background: none;
    border: none;
    padding: 0;
}

.timeout-popup-box .ui-dialog-titlebar-close,
.timeout-popup-box .ui-widget-header {
    display: block;
}

.timeout-popup-box .ui-dialog-titlebar-close {
    background: none;
    background-image: url("../shapes/slider_btn.png");
    background-size: 100% 100%;
    border: none;
    padding: 7%;
    right: -3%;
    top: 21%;
    z-index: 1;
}

.timeout-popup-box #timout-text {
    background-image: url("../shapes/timeout_text_bg.png");
    background-size: 100% 100%;
    color: white;
    padding: 5%;
    margin: 0 2%;
    font-size: 1.8em;
}

.slider-text {
    text-align: left;
    margin-left: 10%;
    font-size: .7em;
}

.timeout-popup-box .slider {
    background: #ef2929;
    height: 7px;
    border: none;
    margin: 6% 13%;
    cursor: pointer;
}

.slider .ui-slider-range { 
    background: #fff;
}

.slider .ui-slider-handle{
    background-image: url("../shapes/slider_btn.png");
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    height: 2em;
    width: 2em;
    top: -.9em;
    cursor: pointer;
}

.ui-slider-handle.ui-state-focus,
.ui-slider-handle.ui-state-hover {
    outline: none;
}

.timeout-popup-box .ui-dialog-buttonpane {
    background: none;
    border: none;
    margin-top: 0;
}

.timeout-popup-box .ui-dialog-buttonset {
    margin: 0 25%;
}

.timeout-popup-box .ui-dialog-buttonset button {
    color:#fff;
    cursor:pointer;
    padding: 0% 0% 8% 0%;
    font-family: 'Boogaloo';
    font-size: 1.5em;
    margin-top: 0;
}

.ui-dialog-buttonset button.ui-state-focus,
.ui-dialog-titlebar-close.ui-state-focus{
    outline: none;
}

.timeout-popup-box .ui-button-text-only {
    background: none;
    border: none;
    background-image: url("../shapes/btn_bg.png");
    background-size: 100% 100%;
}

@media screen and (max-width: 700px) { 
    .timeout-popup-box .ui-dialog-buttonset button {
        font-size: .8em;
    }
    .timeout-popup-box #timout-text {
        font-size: 1.1em;
        padding: 2%;
    }
    .slider-text {
        font-size: .5em;
    }
    .menu-button-container {
        font-size: .8em;
    }
    #canvasHolder input {
        width: auto !important;
    }
}
/*timeout screen style ends here*/

/*shop screen style starts here*/
#shopOuterWrapper {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.centerContainer {
    position: relative;
    padding: 1%;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
    height: 99%;
}

.mainWndw {
    position: relative;
    margin: 0px auto;
    width: 85%;
    max-width: 800px;
    height: 85%;
    border-radius: 5px;
    padding: 1% 0%;
    font-family: 'Boogaloo';
    text-align: center;
    background-color: #053C5A;
    display: block;
    overflow: auto;
}

.titleBar {
    height: 10%;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    text-align: right;
    margin-right: 5%;
}

.mainWndw .scrollContainer {
    height: 100%;
    width: 105%;
    color: darkcyan;
    overflow-y: auto;
    margin: 0px auto;
}

.shopInnerBg {
    background-image: url("../shapes/timeout_bg.png");
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0px auto;
    padding: 6% 0%;
    height: 76%;
}

.innerItem {
    background-image: url("../shapes/SB_clubhouse_content.png");
    width: 68%;
    margin: 0px auto;
    background-size: 100% 100%;
    height: 150px;
}

.innerItem .image {
    width: 23%;
    float: left;
    margin: 3%;
}

.innerItem .innerDiv {
    width: 63%;
    float: right;
    text-align: left;
}

.innerItem {
    color: white;
}

.innerItem .title {
    font-size: 1.7em;
    text-transform: uppercase;
    margin-top: 2%;
}

.innerItem .upgrade,
.backButton {
     background-color: transparent !important;
    border: none;
    background-image: url("../shapes/btn_bg.png");
    background-size: 100% 100%;
      color: white;
    font-size: 1.5em;
    font-family: 'Boogaloo';
    cursor: pointer;
    text-transform: uppercase;
}

.innerItem .upgrade {
    float: right;
    margin-right: 10%;
    padding: 1% 5% 4% 5%;
  
}

.backButton {
    float: left;
    margin-left: 3%;
    padding: 1% 5% 6% 5%;
    height: 10%;
}


@media screen and (max-width: 700px) { 
    .shopInnerBg {
        padding: 13% 0%;
    }
    .titleBar {
        font-size: 1.5em;
    }
    .innerItem .title {
        font-size: 1.2em;
    }
    .innerItem .upgrade,
    .backButton {
        font-size: 1em;
    }
    .innerItem {
        height: 120px;
    }
}
/*shop screen style ends here*/