.no-close .ui-dialog-titlebar-close, .ui-widget-header {
    display: none;
}
.ui-button {
    width: 100%;
}
#canvasHolder {
    display: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#canvasHolder *,
.mainWndw *,
.shadedContainer *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

#canvasHolder input {
    background: none;
    border: none;
    outline: none;
    background-size: 100% 100%;
    height: 55px;
    font-family: 'Boogaloo';
    font-size: 1em;
    padding: 0px 10px 10px 10px;
}

#canvasHolder input[type=button],
.menu-popup button
{
    background-image: url("../shapes/btn-sprite.png");
    background-size: 100% 300%;
    background-color: transparent;
    color: white;
    width: 10%;
    text-transform: uppercase;
    background-position: 0 100%;
    outline: none;
    padding: 0px 10px 19px 10px;
    cursor: pointer;
}

#canvasHolder input[type=button]:hover,
.menu-popup button:hover {
    background-position: 0 50%;
}

#canvasHolder input[type=button]:active,
.menu-popup button:active {
    background-position: 0 0%;
}

#canvasHolder input[type=text] {
    background-image: url("../shapes/input_bg.png");
    color: black;
    width: 16%;
    height: 40px;
}

#canvasHolder input[type=button]:disabled {
    background-image: url("../shapes/btn1_grey.png");
    background-size: 100% 89%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    cursor: default;
}

#canvasHolder input[type=text]:disabled {
    background-image: url("../shapes/input_bg_disabled.png");
}

html, body  {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: relative;
}

@font-face { font-family: 'Boogaloo'; src: url('fonts/Boogaloo-Regular.otf'); }
@font-face { font-family: 'Scoreboard'; src: url('fonts/scoreboard.ttf'); }


/*menu screen style starts here*/
#menu-container {
    display: none;
    position: relative;
    margin: 0px auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url("../shapes/menu_background.png"); 
    background-size: 100% 100%;
}

.timeout-button-container {
    background-color: rgba(0, 0, 0, 0.48);
}

.menu-button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 5px;
}

.timeout-button-container {
    position: relative;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
}

.menu-buttons {
    margin: 0px auto;
    width: 100%;
    border-radius: 5px;
    padding: 3% 0% 0% 0%;
    background-image: url("../shapes/menu_btn_back.png");
    background-size: 100% 100%;
}

.menu-popup button {
    margin: 3% 3% 1% 3%;
    width: 18%;
    font-weight: bold;
    font-size: 1.8em;
    padding: 1% 0% 4% 0%;
    font-family: 'Boogaloo';
}

.sb_logo {
    width: 40%;
}

#menu-confirm-popup .innerContainer {
    display: none;
}

#menu-confirm-popup button{
    width: 65%;
    padding: 5% 0% 16% 0%;
}
/*menu screen style ends here*/

/*timeout screen style starts here*/

#timeout-container {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

.timeout-buttons {
    background-image: url("../shapes/box_outer_bg.png");
    background-color: transparent;
    background-size: 100% 100%;
    border: none;
    padding: 0 1%;
    width: 50%;
    margin: 0px auto;
    max-width: 300px;
    min-width: 200px;
    padding-bottom: 2%;

}

#timeout-container {
    color: white;
    font-family: 'Boogaloo';
}

#timeout-close {
    width: 100%;
    height: 25px;
}

#timeout-btn-close {
    background: none;
    background-image: url("../shapes/scroller_btn.png");
    background-size: 100% 100%;
    border: none;
    padding: 2% 6% 4% 6%;
    margin-top: -4%;
    float: right;
    margin-right: -8%;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Boogaloo';
    font-size: 1.5em;
    outline: none;
    cursor: pointer;
}

.timeout-content {
    width: 85%;
    margin: 0px auto;
    background-color: #14577C;
    margin-bottom: 2%;
    border-radius: 0px 0px 5px 5px;
}

#timout-text {
    background-image: url("../shapes/timeout_text_bg.png");
    background-size: 100% 100%;
    color: white;
    padding: 5%;
    margin: 0 8%;
    font-size: 1.9em;
}

.slider-text {
    text-align: left;
    margin-left: 10%;
    font-size: 1.3em;
    margin-top: 2%;
}

#timeout-container .slider {
    background: #ef2929;
    height: 7px;
    border: none;
    margin: 0% 20%;
    cursor: pointer;
    margin-bottom: 8%;
}

.slider .ui-slider-range { 
    background: #fff;
}

.slider .ui-slider-handle{
    background-image: url("../shapes/scroller_btn.png");
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    height: 2em;
    width: 2em;
    top: -0.8em;
    cursor: pointer;
}

.ui-slider-handle.ui-state-focus,
.ui-slider-handle.ui-state-hover {
    outline: none;
}

.timeout-content button {
    color: #fff;
    cursor: pointer;
    font-family: 'Boogaloo';
    font-size: 1.9em;
    border: none;
    background-image: url("../shapes/btn-sprite.png");
    background-size: 100% 300%;
    background-color: transparent;
    padding: 1% 4% 10% 5%;
    width: 60%;
    margin-top: 9px;
    outline: none;
    background-position: 0 100%;
}


.timeout-content button:hover {
    background-position: 0 50%;
}

.timeout-content button:active {
    background-position: 0 0%;
}
/*timeout screen style ends here*/

/*shop screen style starts here*/
#shopOuterWrapper {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.blueBg {
    background-size: 100% 100%;
    background-image: url("../shapes/background.png");
}

.starBg {
    background-image: url("../shapes/star_background.png"); 
}

.centerContainer {
    position: relative;
    padding: 1%;
    border-radius: 5px;
    height: 95%;
    background-image: url("../shapes/star_background.png");
    top: 2.5%;
}

.mainWndw {
    position: relative;
    margin: 0px auto;
    width: 90%;
    max-width: 800px;
    height: 98%;
    max-height: 700px;
    border-radius: 5px;
    font-family: 'Boogaloo';
    text-align: center;
    background-repeat: repeat;
    display: block;
    overflow: auto;
}

.titleBar {
    height: 10%;
    overflow: hidden;
    color: white;
    text-transform: uppercase;
    text-align: right;
    margin-right: 5%;
    height: 70px;
}

.titleBar .clubhouse {
    font-size: 3em;
    display: block;
    float: left;
    text-shadow: 2px 2px #020202;
    letter-spacing: .05em;
}

.titleBar .wallet {
    font-size: 2.4em;
    display: block;
    float: right;
    background-image: url("../shapes/cash_bar.png");
    width: 30%;
    height: 100%;
    background-size: 100% 100%;
    padding: .5% 2% 2% 6%;
}

.shop-back-btn,
.help-back-btn {
    height: 55px;
}
.help-back-btn{
    width: 70%;
    margin: 0px auto;   
}

.mainWndw .scrollContainer {
    color: darkcyan;
    overflow-y: auto;
}

.shopInnerBg {
    background-image: url("../shapes/level_end_box.png");
    background-color: transparent;
    background-size: 88% 100%;
    background-repeat: no-repeat;
    width: 76%;
    margin: 0px auto;
    padding: 8% 0%;
    height: 70%;
    margin-top: 20px;
    height: calc(100% - 150px);
    height: -moz-calc(100% - 150px);
}

.itemDiv {
    width: 100%;
}

.innerItem {
    background-image: url("../shapes/clubhouse_inner_box.png");
    width: 74%;
    margin: 0px auto;
    background-size: 100% 100%;
    margin: 0% 0% 2% 9%;
}

.imageDiv {
    width: 25%;
}

.innerItem .image {
    width: 80%;
    margin: 10%;
}

.innerItem .innerDiv {
    text-align: left;
    color: white;
}

.innerItem {
    color: white;
}

.innerItem .title {
    font-size: 1.7em;
    text-transform: uppercase;
    margin-top: 3%;
    font-weight: bold;
}

.innerItem .upgrade {
    background-color: transparent !important;
    border: none;
    background-image: url("../shapes/btn_bg.png");
    background-size: 100% 100%;
    color: white;
    font-size: 1.7em;
    font-family: 'Boogaloo';
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    float: right;
    margin-right: 5%;
    padding: 4% 10% 11% 10%;
    margin-bottom: 6px;
    width: 65%;
    font-weight: bold;
}

.backButton {
    background-image: url("../shapes/shop_back_button.png");
    background-size: 100% 300%;
    float: left;
    margin-left: 0%;
    padding: 4% 4.5%;
    background-color: transparent;
    border: none;
    height: 10%;
    background-position: 0% 100%;
    margin-top: -3%;
    outline: none;
    cursor: pointer;
}

.backButton:hover {
    background-position: 0% 200%;
}

.backButton:active {
    background-position: 0% 0%;
}

/*shop screen style ends here*/
.slimScrollRail {
    background-image: url("../shapes/scroller_back.png");
    background-size: 100% 100%;
}

.slimScrollBar {
    background-image: url("../shapes/scroller_btn.png") !important;
    background-size: 100% 100% !important;
}

.clear {
    clear: both;
}

/*Placeholder style for victory, defeated, splash, help screens*/

.optionScreen {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: 100% 100%;
}

.shadedContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Boogaloo';
}

.centerScreenContainer {
    position: relative;
    padding: 1%;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;  
}

.innerContainer {
    width: 70%;
    margin: 0px auto;
    background-image: url("../shapes/level_end_box.png");
    background-size: 100% 100%;
    max-width: 500px;
}

#menu-confirm-popup .innerContainer{
    max-width: 350px;
    padding: 6% 3%;
}

#menu-confirm-popup .innerContainer p {
    color: white;
    font-size: 1.8em;
    margin-bottom: 4%;
}

.resultContainer {
    display: none;
    text-align: left;
}

.innerContainer > div {
    padding: 8%;
    box-sizing: border-box;
}

.centerScreenContainer .title {
    color: white;
    font-family: 'Boogaloo';
    font-size: 3em;
    text-shadow: 2px 2px #020202; 
    text-align: center;
    margin-bottom: 2%;
}

.shadedContainer .details {
    background-image: url("../shapes/clubhouse_inner_box.png");
    background-size: 100% 100%; 
    font-size: 2.1em;
    padding: 6% 2%;
    color: white;
    margin-bottom: 5%;
}

.details b {
    float: left;
    padding: 2%;
}

.moneyMade {
    background-image: url("../shapes/cash_bar.png");
    background-size: 100% 100%;
    width: 200px;
    padding: 2% 2% 5% 14%;
    float: right;
    text-align: center;
}

.moneyMade b {
    width: 100%;
    text-align: center;
}

#resultWrapper button {
    background-image: url("../shapes/btn-sprite.png");
    background-size: 100% 300%;
    background-color: transparent;
    padding: 3% 0% 10% 0%;
    border: none;
    font-size: 1.5em;
    font-family: 'Boogaloo';
    width: 42%;
    color: white;
    background-position: 0 100%;
    outline: none;
}

.resultContainer button:nth-of-type(2) {
    float: right;
}

#resultWrapper button:hover {
    background-position: 0 50%;
}

#resultWrapper button:active {
    background-position: 0 0%;
}

#resultScreenTryAgainButton,
#resultScreenContinueButton {
    display: none;
}

.timeDetails p{
    width: 50%;
    float: left;
}

.time {
    text-align: center;
}

.splashScreen,
#optionsScreen {
    background-color: white;
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.splashScreenContainer,
.optionScreenContainer {
    position: relative;
    padding: 1%;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;   
}

.helpBackButton {
    padding: 4% !important;
    border-radius: 6px;
    margin-top: -3%;
    position: relative;
}

#helpScreen .innerItem {
    padding: 5%;
    margin: 2%;
    width: 90%;
    margin:0px auto;
}

#helpScreen .title {
    display: inline;
}

#helpScreen button {
    position: absolute;
    left: 3%;
    top: 1%;
}

.helpScreenContent {
    padding: 5% 2%;
}

.helpScreenContent .imageWrapper {
    width: 100%;
    background-image: url("../shapes/instructions_border.png");
    background-size: 100% 100%;
    padding: 2%;
}

.splashLogo {
    width: 60%;
    max-width: 400px;
    border: 2px #020202;
}

#BHLlogo,
#tiltfactorLogo {
    display: none;
}

#slideContainer {
    width: 50%;
    max-width: 300px;
    margin: 0px auto;
}

.optionsScreen .slider {
    width: 200px;
}

.optionsBackButton {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: gray;
}

@media screen and (max-width: 992px),
screen and ( max-height: 600px ){
    #canvasHolder input {
        width: auto !important;
        font-size: .8em;
        height: 40px;
    }

    #canvasHolder input[type=text] {
        height: 36px;
        padding: 0px 10px 6px 10px;
    }

    #canvasHolder input[type=button] {
        padding: 0px 10px 13px 10px;
    }
    .menu-popup button,
    #menu-confirm-popup .innerContainer p {
        font-size: 1.5em;    
    }

}

@media screen and (max-width: 768px),
screen and ( max-height: 500px ) { 
    .menu-popup button,
    #menu-confirm-popup .innerContainer p {
        font-size: 1.2em;    
    }
    .centerScreenContainer .title {
        font-size: 2.5em;
    }
    .shadedContainer .details {
        font-size: 1.8em;
    }
    .moneyMade {
        width: 170px;
    }

    #resultWrapper button {
        font-size: 1em;
    }

    .innerContainer {
        max-width: 450px;
    }

    #timeout-close {
        height: 33px;
    }
    #timeout-btn-close {
        padding: 2% 5% 3% 4%;
    }

    #timeout-btn-close {
        font-size: .7em;
        margin-right: -6%;
    }

    .timeout-content button {
        font-size: .8em;
        padding: 2% 4% 8% 5%;
    }
    #timout-text {
        font-size: 1.1em;
        padding: 2%;
    }
    .slider-text {
        font-size: .9em;
    }
    .menu-button-container {
        font-size: .8em;
    }
    #canvasHolder input {
        width: auto !important;
        font-size: .8em;
        height: 35px;
    }

    #canvasHolder input[type=text] {
        height: 32px;
        padding: 2px 10px 8px 10px;
    }

    #canvasHolder input[type=button] {
        padding: 0px 10px 13px 10px;
    }

    .shopInnerBg {
        padding: 10% 0%;
    }
    .titleBar {
        font-size: 1.5em;
        height: 50px;
    }

    .titleBar .clubhouse { 
        font-size: 1.5em;
    }

    .titleBar .wallet {
        font-size: 1.2em;
        padding: 1% 2% 2% 6%;
    }

    .innerItem .title {
        font-size: 1.2em;
        padding: 2% 1% 3% 0%;
    }
    .innerItem .upgrade {
        font-size: 1em;
    }

    .backButton {
        padding: 4%;
    }
    .mainWndw {
        max-width: 600px;
    }
}

@media screen and (max-width: 650px) {
    .shadedContainer .details {
        font-size: 1.5em;
    }
    .moneyMade {
        width: 120px;
        padding: 2% 2% 5% 10%;
    }

    .innerItem {
        width: 77%;
    }
}

@media screen and (max-width: 480px),
screen and ( max-height: 400px ) {
    .menu-popup button,
    #menu-confirm-popup .innerContainer p {
        font-size: .8em;    
    }
    #canvasHolder input {
        font-size: .6em;
        height: 27px;
    }

    #canvasHolder input[type=text] {
        height: 26px;
        padding: 0px 10px 7px 10px;
    }

    #canvasHolder input[type=button] {
        padding: 0px 10px 11px 10px;
    }
    #timeout-close {
        height: 20px;
    }
    #timeout-btn-close {
        padding: 2% 3% 3% 3%;
    }

    #timeout-btn-close {
        font-size: .7em;
        margin-right: -6%;
    }

    .timeout-content button {
        font-size: .8em;
        padding: 2% 4% 8% 5%;
    }
    #timout-text {
        font-size: .8em;
    }
    .slider-text {
        font-size: .7em;
    }
    .timeout-buttons{
        padding-bottom: 1%;
    }
    #timeout-container .slider {
        height: 4px;
        margin-bottom: 2%;
    }
    .slider .ui-slider-handle {
        height: 1em;
        width: 1em;
        top: -.3em;
    }
    .innerContainer {
        max-width: 300px;
    }
    .centerScreenContainer .title {
        font-size: 2em;
    }
    .shadedContainer .details {
        font-size: 1em;
    }
    .moneyMade {
        width: 100px;
    }

    #resultWrapper button {
        font-size: .8em;
    }
}

@media screen and (max-width: 320px),
screen and ( max-height: 350px ) {
    #canvasHolder input {
        font-size: .6em;
        height: 19px;
    }

    #canvasHolder input[type=text] {
        height: 18px;
        padding: 0px 9px 6px 10px;
    }

    #canvasHolder input[type=button] {
        padding: 0px 10px 11px 10px;
    }
}

@media screen and ( max-width: 700px ) and ( min-height: 500px ) { 
    .shopInnerBg {
        padding: 15% 0%;
    }
}


/*Custom scrollbar style*/
.mCSB_scrollTools_vertical {
    background-image: url("../shapes/scroller_back.png");
    background-size: 100% 100%;
}

.mCSB_buttonUp,
.mCSB_buttonDown {
    background-image: none;
}

.mCSB_dragger_bar {
    background-image: url("../shapes/scroller_btn.png");
    background-size: 100% 106%;
    background-color: transparent !important;
    background-repeat: no-repeat;
}

#mCSB_1_scrollbar_vertical {
    opacity: 1 !important;
}

#mCSB_1_dragger_vertical {
    min-height: 15px !important;
}

/* Loader div styles */
#loadOuterWrapper {
    /*display: none;*/
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: 100% 100%;
}

#loadOuterWrapper .centerContainer {
    padding: 0%;
    height: 100%;
    top: 0;
}

/*instruction screen style*/

.lean-slider {
    position: relative;
    *zoom: 1;
}
.lean-slider:before,
.lean-slider:after {
    content: " ";
    display: table;
}
.lean-slider:after {
    clear: both;
}

.lean-slider-slide {
    float: left;
    width: 100%;
    margin-right: -100%;
    display: none;
}
.lean-slider-slide.current { display: block; }

.slider-wrapper { 
    position: relative; 
}
.lean-slider { overflow: hidden; }
.lean-slider-slide {
    display: block;
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 0.6s linear;
    -moz-transition: opacity 0.6s linear;
    -ms-transition: opacity 0.6s linear;
    -o-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
}
.lean-slider-slide.current { 
    opacity: 1; 
}
.lean-slider-slide img { 
    display: block;
    width: 100%; 
}

#slider-direction-nav {
    position: absolute;
    left: -33%;
    top: 40%;
    width: 166%;
}
.slider-wrapper:hover #slider-direction-nav { opacity: 1; }
#slider-direction-nav a {
    float: left;
    display: block;
    width: 50px;
    height: 68px;
    text-indent: -9999px;
    background: url(../shapes/nav_button.png) no-repeat 0 0;
    background-size: 200% 200%;
    background-position: 0% 0%;
    outline: none;
}

#slider-direction-nav a:active {
    background-position: 0% 100%
}

#slider-direction-nav .lean-slider-next {
    float: right;
    background-position: 100% 0%
}

#slider-direction-nav .lean-slider-next:active {
    background-position: 100% 100%
}

#slider-control-nav {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.slider-wrapper:hover #slider-control-nav { opacity: 1; }
#slider-control-nav a {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../shapes/paging_dot_back.png) no-repeat 0 0;
    background-size: 100% 100%;
    text-indent: -9999px;
    margin: 0 3px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    outline: none;
}
#slider-control-nav a.active { 
    background: url(../shapes/paging_dot.png) no-repeat 0 0;
    background-size: 100% 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 480px) {

    #slider-direction-nav,
    #slider-control-nav { opacity: 1; }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

    #slider-direction-nav,
    #slider-control-nav { opacity: 1; }

}

@media screen and (max-width: 992px),
screen and ( max-height: 600px ){
    #helpScreen .title {
        font-size: 2.5em;
    }
    .helpScreenContent {
        max-width: 400px;
    }
}

@media screen and (max-width: 768px),
screen and ( max-height: 550px ) { 
    #helpScreen .title {
        font-size: 2em;
    }
    .helpScreenContent {
        max-width: 300px;
    }
    .help-back-btn {
        max-width: 500px;
    }
    .helpScreenContent {
        padding: 2% 1%;
    }
    #slider-control-nav a{
        width: 10px;
        height: 10px;
    }
    .lean-slider-slide p {
        font-size: .8em;
    }
    #slider-direction-nav a {
        width: 30px;
        height: 41px;
    }
    .help-back-btn {
        width: 85%;
    }
}

@media screen and (max-width: 480px),
screen and ( max-height: 400px ) {
    #helpScreen .title {
        font-size: 2em;
    }
    .helpScreenContent {
        max-width: 250px;
    }
    .help-back-btn {
        max-width: 500px;
    }
    .lean-slider-slide p {
        font-size: .6em;
    }
    #slider-control-nav a{
        width: 7px;
        height: 7px;
    }

    #slider-direction-nav {

    }
}

@media screen and (max-width: 320px),
screen and ( max-height: 350px ) {
    #helpScreen .title {
        font-size: 1.5em;
    }
    .helpScreenContent {
        max-width: 200px;
    }
    .help-back-btn {
        max-width: 400px;
    }
}